# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. SciPy
4. PyTorch

|Data Science Tools|
|---|
|VScode|
|---|
|Jupyter Notebook|
|---|
|RStudio|
|---|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

#### Objective:
- Popular languages in Data Science
- Commonly used libraries in Data Science
- Data Science Tools

## Author
Samer Meleka